<%- include('../Layouts/header.ejs') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Category Data</h4>
                    <!-- <p class="card-description"> Add class <code>.table-hover</code> -->
                    </p>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Category Name</th>
                            <th>Status</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% categoryData.map((v,i)=>{ %>
                            <tr>
                                <td><%= ++i %></td>
                                <td><%= v.categoryName %></td>
                                <% if(v.status==true){ %>
                                  <td><a href="changeStatus/?status=<%=!v.status%>&id=<%=v.id%>" class="btn btn-success">Active</a></td>
                                <% }else{ %>
                                  <td><a href="changeStatus/?status=<%=!v.status%>&id=<%=v.id%>" class="btn btn-danger">Deactive</a></td>
                                <%}%>
                                <td><a href="/admin/category/deleteCategory/?id=<%=v._id%>" class="btn btn-danger"><i class="fa fa-trash">&nbsp;&nbsp;&nbsp;Delete</i></a><a href="/admin/category/editCategory/?id=<%=v._id%>" class="btn btn-primary mx-3"><i class="fa fa-edit">&nbsp;&nbsp;&nbsp;Edit</i></a></td>
                            </tr>
                        <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
              <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights reserved.</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
<%- include('../Layouts/footer.ejs') %>