
  <%- include("../Layouts/header.ejs") %>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Admin Registration</h4>
              <p class="card-description"> Basic form layout </p>
              <form class="forms-sample" method="post" action="/admin/insertAdmin" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleInputUsername1"><span class="text text-danger fs-6">*</span>Name</label>
                  <input type="text" class="form-control" id="exampleInputUsername1" value="<%if(oldData && oldData.name){{%><%=oldData.name%><%}}%>"  name="name" placeholder="Enter Name">
                  <%if(errorsData && errorsData.name){%><span class="text text-danger fs-6">
                    * <%=errorsData.name.msg%>
                  </span><%}%>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1"><span class="text text-danger fs-6">*</span>Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" value="<%if(oldData && oldData.email){{%><%=oldData.email%><%}}%>" name="email" placeholder="Enter Email">
                  <%if(errorsData && errorsData.email){%><span class="text text-danger fs-6">
                    * <%=errorsData.email.msg%>
                  </span><%}%>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"><span class="text text-danger fs-6">*</span>Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" value="<%if(oldData && oldData.password){{%><%=oldData.password%><%}}%>" name="password" placeholder="Enter Password">
                  <%if(errorsData && errorsData.password){%><span class="text text-danger fs-6">
                    * <%=errorsData.password.msg%>
                  </span><%}%>
                </div>
                <div class="form-group">
                  <label><span class="text text-danger fs-6">*</span>Upload Image</label>
                  <input type="file" name="adminImage" class="file-upload-default">
                  <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                    <span class="input-group-append">
                      <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"><span class="text text-danger fs-6">*</span>Gender</label>
                  <div class="col-sm-4 d-flex justify-content-between">
                    <% ["male","female"].map((v, i)=>{ %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="gender" id="membershipRadios1" value=<%=v%> <%if(oldData && oldData.gender == v){%><%="checked"%><%}%>> <%=v%> </label>
                        </div>
                    <% }) %>
                  </div>
                  <%if(errorsData && errorsData.gender){%><span class="text text-danger fs-6">
                      * <%=errorsData.gender.msg%>
                  </span><%}%>
                </div>


               
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                  <label class=" col-form-label"><span class="text text-danger fs-6">*</span>Hobby</label>
                  <div class="d-flex justify-content-center">
                  <% ["Travelling","Music","Learning","Photography"].map((v, i)=>{ %>
                    <div class="form-check form-check-primary mx-3">
                      <label class="form-check-label">
                        <input type="checkbox" name="hobby" value=<%=v%> class="form-check-input" > <%=v%> </label>
                    </div>
                  <% }) %>
                  </div>
                </div>
                <%if(errorsData && errorsData.hobby){%><span class="text text-danger fs-6">
                  * <%=errorsData.hobby.msg%>
                </span><%}%>
                </div>
                
                <div class="form-group">
                  <label for="exampleTextarea1"><span class="text text-danger fs-6">*</span>Description</label>
                  <textarea class="form-control" name="description" id="exampleTextarea1" placeholder="Enter Message" rows="4"><%=oldData.description%></textarea>
                  <%if(errorsData && errorsData.description){%><span class="text text-danger fs-6">
                    * <%=errorsData.description.msg%>
                  </span><%}%>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit Data</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
        <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights reserved.</span>
      </div>
    </footer>
    <!-- partial -->
  </div>

  <%- include("../Layouts/footer.ejs") %>